# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.python-version

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/
pip-wheel-metadata/


# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
nosetests.xml
test-results.xml

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Custom
*.db
.env